{
  "openapi": "3.0.3",
  "info": {
      "title": "Paragon API",
      "description": "OpenAPI specification for various Paragon API endpoints.",
      "version": "1.0.0"
  },
  "servers": [
      {
          "url": "https://api.useparagon.com/projects/{projectId}/sdk",
          "variables": {
              "projectId": {
                  "description": "The ID of your Paragon project.",
                  "default": "your-project-id"
              }
          }
      }
  ],
  "paths": {
      "/workflows/{workflowId}": {
          "delete": {
              "summary": "Disable a workflow",
              "description": "Disables the specified workflow.",
              "parameters": [
                  {
                      "name": "workflowId",
                      "in": "path",
                      "required": true,
                      "description": "ID of the workflow to disable.",
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Workflow disabled successfully."
                  }
              }
          }
      },
      "/metadata": {
          "get": {
              "summary": "Get Integration Metadata",
              "description": "Retrieves metadata for available integrations.",
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Integration metadata retrieved successfully.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "array",
                                  "items": {
                                      "type": "object",
                                      "properties": {
                                          "type": {
                                              "type": "string"
                                          },
                                          "name": {
                                              "type": "string"
                                          },
                                          "brandColor": {
                                              "type": "string"
                                          },
                                          "icon": {
                                              "type": "string"
                                          }
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }
      },
      "/me": {
          "get": {
              "summary": "Get Connected User",
              "description": "Retrieves information about the connected user.",
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Connected user details retrieved.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "object",
                                  "properties": {
                                      "authenticated": {
                                          "type": "boolean"
                                      },
                                      "userId": {
                                          "type": "string"
                                      },
                                      "integrations": {
                                          "type": "object"
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          },
          "patch": {
              "summary": "Set User Metadata",
              "description": "Updates metadata for the connected user.",
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "requestBody": {
                  "required": true,
                  "content": {
                      "application/json": {
                          "schema": {
                              "type": "object",
                              "properties": {
                                  "meta": {
                                      "type": "object"
                                  }
                              }
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Metadata updated successfully."
                  }
              }
          }
      },
      "/events/trigger": {
          "post": {
              "summary": "Trigger an App Event",
              "description": "Triggers a specific app event with the given payload.",
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "requestBody": {
                  "required": true,
                  "content": {
                      "application/json": {
                          "schema": {
                              "type": "object",
                              "properties": {
                                  "name": {
                                      "type": "string"
                                  },
                                  "payload": {
                                      "type": "object"
                                  }
                              }
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Event triggered successfully."
                  }
              }
          }
      },
      "/integrations": {
          "get": {
              "summary": "Get Project Integrations",
              "description": "Retrieves integrations for the project.",
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Project integrations retrieved successfully.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "array",
                                  "items": {
                                      "type": "object"
                                  }
                              }
                          }
                      }
                  }
              }
          }
      },
      "/credentials": {
          "get": {
              "summary": "Get Connected User's Connect Credentials",
              "description": "Retrieves credentials for the connected user.",
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Connected user's credentials retrieved.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "array",
                                  "items": {
                                      "type": "object"
                                  }
                              }
                          }
                      }
                  }
              }
          }
      },
      "/credentials/{credentialId}": {
          "patch": {
              "summary": "Update Connected User's Connect Credentials",
              "description": "Updates the credentials for the connected user.",
              "parameters": [
                  {
                      "name": "credentialId",
                      "in": "path",
                      "required": true,
                      "description": "ID of the credential to update.",
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "security": [
                  {
                      "BearerAuth": []
                  }
              ],
              "requestBody": {
                  "required": true,
                  "content": {
                      "application/json": {
                          "schema": {
                              "type": "object",
                              "properties": {
                                  "config": {
                                      "type": "object"
                                  }
                              }
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Credentials updated successfully."
                  }
              }
          }
      }
  },
  "securitySchemes": {
      "BearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
      }
  }
}